{% extends "layout.html" %}
{% block body %}

        <h1>Welcome to MB "STAGE OF LIFE!"</hi>
            <h5>Enter your name</h5>
        <form action="/home" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <h5>Enter your age</h5>
        <form action="/age" method="post">
            <input autocomplete="off" autofocus name="age" placeholder="Age" type="number">
        <button type="submit">Submit</button>
        
{% endblock %}