{% extends "layout.html" %}
{% block body %}
<style>
    :root {
      --header-height: 50px;
      --fill-color: #f7f7f7;
      --fill-popup-color: #ffffff;
      --neutral-layer-floating: #ffffff;
      --logo-color: rgb(115, 115, 115);
      --neutral-foreground-rest: #262626;
      --neutral-fill-rest: rgba(0, 0, 0, 3.92%);
      --placeholder-color: rgb(115, 115, 115);
      --font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, sans-serif;
      --accent-foreground-rest: #0072c9;

      --borderRadiusMedium: 4px;
      --shadow2: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
      --shadow4: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
      --lineHeightBase300: 20px;
      --fontSizeBase300: 14px;
      --spacingVerticalXS: 4px;
      --spacingVerticalSNudge: 6px;
      --spacingHorizontalS: 8px;
      --spacingVerticalMNudge: 10px;
      --spacingHorizontalXXL: 32px;
      --colorNeutralForeground1: #242424;
      --colorNeutralForeground1Pressed: #242424;
      --colorNeutralForeground1Hover: #242424;
      --colorNeutralBackground1: #ffffff;
      --colorNeutralBackground1Pressed: #e0e0e0;
      --colorNeutralBackground1Hover: #f5f5f5;
      --colorNeutralStroke1Hover: #c7c7c7;

      --backgroundImage: url('./background-image-light.avif');
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --fill-color: #242424;
        --fill-popup-color: #000000;
        --neutral-layer-floating: #4a4a4a;
        --neutral-foreground-rest: #f5f5f5;
        --neutral-fill-rest: rgba(255, 255, 255, 6.05%);
        --accent-foreground-rest: #3091dc;
        --logo-color: #f5f5f5;
        --shadow2: 0 0 2px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.28);
        --shadow4: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28);
        --colorNeutralForeground1: #ffffff;
        --colorNeutralForeground1Pressed: #ffffff;
        --colorNeutralForeground1Hover: #ffffff;
        --colorNeutralBackground1: #292929;
        --colorNeutralBackground1Pressed: #1f1f1f;
        --colorNeutralBackground1Hover: #3d3d3d;
        --colorNeutralStroke1Hover: #757575;

        --backgroundImage: url('./background-image-dark.avif');
      }
    }

    html {
      height: 100vh;
    }

    body {
      margin: 0;
      height: inherit;
    }

    ntp-shell {
      --inspirational-neutral-foreground-rest: var(--neutral-foreground-rest);
      height: inherit;
      margin: 0;
      padding: 0;
      min-width: 343px;
      position: relative;
      display: block;
      font-family: var(--font-family);
      -webkit-font-smoothing: antialiased;
      align-items: center;
      background-color: var(--fill-color);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: auto;
    }

    button {
      border: none;
      background: none;
      box-shadow: none;
      outline: none;
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      border: 1px solid transparent;

      &:hover {
        background-color: var(--neutral-fill-rest);
      }

      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
    }

    #header {
      height: var(--header-height);
      display: flex;
      align-items: center;
      padding: 0px 26px 0 22px;
      box-sizing: border-box;
      position: absolute;
      inset-inline-start: 0;
      inset-inline-end: 0;
      z-index: 1;
      fill: var(--inspirational-neutral-foreground-rest);

      > div {
        flex: 1;
        display: flex;
        position: relative;
      }

      #header-right {
        justify-content: flex-end;
      }

      .header-button {
        width: 40px;
        height: 40px;
      }

      #waffle {
        anchor-name: --anchor-waffle;
      }

      #settings {
        anchor-name: --anchor-settings;
      }

      ntp-waffle {
        position-area: bottom span-right;
        position-anchor: --anchor-waffle;
      }

      ntp-settings {
        position-area: bottom span-left;
        position-anchor: --anchor-settings;
      }
    }

    #inner {
      display: grid;
      grid-template-rows: 1fr auto 72px 46px 32px 32px auto 1fr;
      justify-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
    }

    #logo {
      align-self: end;
      fill: var(--logo-color);
      display: flex;
      align-items: center;
      gap: 14px;
    }

    #fakebox {
      grid-row: 4;
      display: flex;
      align-items: center;
      width: 760px;
      box-sizing: border-box;
      background-color: var(--neutral-layer-floating);
      border-radius: 22px;
      height: 46px;
      gap: 7px;
      color: var(--neutral-foreground-rest);
      box-shadow:
        rgba(0, 0, 0, 0.11) 0px 0px 2.9px 0px,
        rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px 0px;
      border: 1px solid transparent;
      user-select: none;
      cursor: text;

      #searchbutton {
        margin-inline-start: 11px;
        fill: var(--neutral-foreground-rest);
      }

      #placeholder {
        flex: 1;
        color: inherit;
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      #cursor {
        visibility: hidden;
      }

      &:hover {
        border-color: var(--accent-foreground-rest);
      }

      &:focus-within {
        > #cursor {
          animation: blink 1.3s step-end infinite;
          visibility: visible;
          background-color: var(--neutral-foreground-rest);
          width: 1px;
          height: 1em;
        }

        > #placeholder {
          display: none;
        }
      }
    }

    ntp-quicklinks {
      grid-row: 7;
      width: 844px;
      height: 60px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &[rows="0"] {
        display: none;
      }

      &[rows="2"] {
        height: 130px;
      }
    }

    body[data-layout="inspirational"] {
      ntp-shell {
        background: var(--backgroundImage);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (prefers-contrast: more) {
          --inspirational-neutral-foreground-rest: #262626;
          background-blend-mode: luminosity;
        }
      }

      #inner {
        grid-template-rows: minmax(78px, 15%) 46px 32px 1fr auto 12%;
      }

      #logo {
        display: none;
      }

      #fakebox {
        grid-row: 2;
      }

      ntp-quicklinks {
        grid-row: 4;
      }
    }

    .header-popup:popover-open {
      margin: 0;
      max-width: 100vw;
      max-height: calc(100vh - var(--header-height));
      overflow: auto;
      box-shadow: var(--smtc-ctrl-tooltip-shadow, var(--shadow4));
      border: 1px solid transparent;
      color: var(--neutral-foreground-rest);
      background-color: var(--fill-popup-color);
      border-radius: var(--smtc-padding-content-xx-small, var(--spacingVerticalXS));
      display: flex;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }

      61.55% {
        opacity: 0;
      }
    }

    @media (max-width: 1267px) {
      #fakebox {
        width: 528px;
      }

      ntp-quicklinks {
        width: 674px;
      }
    }

    @media (max-width: 1097px) {
      ntp-quicklinks {
        width: 419px;
      }
    }

    @media (max-width: 955px) {
      #fakebox {
        width: 400px;
      }
    }

    @media (max-width: 643px) {
      #fakebox {
        width: 343px;
      }

      ntp-quicklinks {
        width: 249px;
      }

      #header {
        padding: 0;
      }

      #logo-text {
        width: 100px;
      }

      #logo-icon {
        height: 32px;
      }
    }

    @media (max-width: 343px) {
      ntp-shell {
        min-width: auto;
      }

      ntp-quicklinks {
        width: 100%;
      }

      #fakebox {
        width: 90%;
        height: 32px;
        gap: 2px;

        #placeholder {
          font-size: 12px;
          line-height: 16px;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      #logo-icon {
        width: 48px;
        height: 48px;
      }

      #logo-text {
        display: none;
      }
    }

    @media (max-height: 475px) {
      #inner {
        grid-template-rows: auto 10px 16px 32px 16px 10px;
      }

      #logo {
        margin-top: 10px;
      }

      #logo-icon {
        width: 32px;
        height: 32px;
      }
    }
    </style>
        <h1>Welcome to MB "STAGE OF LIFE!"</hi>
            <h5>Enter your name</h5>
        <form action="/home" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <h5>Enter your age</h5>
        <form action="/age" method="post">
            <input autocomplete="off" autofocus name="age" placeholder="Age" type="number">
        <button type="submit">Submit</button>
{% endblock %}